<h2>A03: Supply Chain</h2>
<p>This challenge demonstrates a supply chain vulnerability.</p>
<p>Your goal is to identify the vulnerable plugin and exploit it to read flag3.txt. </p>

<div class="chat-container">
  <div class="messages" id="messages"></div>
  <form id="challenge-form" class="input-bar">
    <textarea id="input" name="input" placeholder="Type your message... (Shift + Enter for new line)" rows="2" required></textarea>
    <button type="submit" id="submit-btn">Send</button>
  </form>
</div>

<script type="module">
  import { initChat } from "/static/js/main.js";

  initChat({
    endpoint: "/api/a03-supply-chain-vulnerabilities",
    botName: "GoatCalcBot",
  });
  </script>
